* {
    box-sizing: border-box;
}

/* Navbar CSS */
.nav-link{
    font-size: 18px;
}
/* ---------x------------Navbar CSS---------x-------- */
.container-fluid{
    height: 600px;
    background: url("../assets/images/concert-phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    padding-top: 80px;
    color: white;
}

