* {
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
  }
  
  
  /* Navbar CSS */
  .nav-link {
    font-size: 16px;
  }
  .navbar-nav.mr-auto ul li a.nav-link {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link:hover {
    color: orange !important;
  }
  .dropdown-item-or:hover {
    color: orange !important;
  }
  
  .dropdown-menu-left {
    left: 0;
  }
  
  /* ---------x------------Navbar CSS---------x--------*/
  /*   Featured events   */
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  h5.card-title {
    text-align: center;
    color: #ff2400;
  }
  
  .featured-event-text {
    word-spacing: 0.3rem;
    text-decoration: underline;
  }
  
  .card {
    border-color: #f94d00;
  }
  
  .background__hero{
    height:100vh;
    background:url('../assets/images/concert-phone.jpg');
    position:relative;
    background-size:cover;
    background-position: center;
    /* background-blend-mode: multiply; */
  }
  .background__hero .wave{
    position: absolute;
    bottom: 0;
    width:100%;
    left:0;
  }
  
  .hero__card{
    position: absolute;
    background-color: #fd120a;
    top:200px;
    left: 150px;
  
  }
  
  .hero-card-header{
    font-weight: 400;
      font-size: 18px;
  
  }
  
  .hero-card-text{
    font-weight:bolder;
    font-size: 50px;
  }

  .background__hero{
    height:100vh;
    background:url('../img/concert-phone.jpg');
    position:relative;
    background-size:cover;
    background-position: center;
    /* background-blend-mode: multiply; */
  }
  .background__hero .wave{
    position: absolute;
    bottom: 0;
    width:100%;
    left:0;
  }
  
  .hero__card{
    position: absolute;
    background-color: #fd120a;
    top:200px;
    left: 150px;
  
  }
  
  .hero-card-header{
    font-weight: 400;
      font-size: 18px;
  
  }
  
  .hero-card-text{
    font-weight:bolder;
    font-size: 50px;
  }